.app__bg {
  background-image: url('../src/assets/wallpaperbackground.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}