body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../src/assets/wallpaperbackground.svg');
  background-size: cover;
  background-repeat: repeat-y;
  margin-bottom: 20%;
  
}

h1,
h2,
h3,
.card-body>.card-title {
  font-family: 'Lobster', cursive;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  color: #3046c5;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  /* background-image: url('../src/assets/navbar-banner.svg');
  background-repeat: no-repeat;
  background-size: 85%; */
  padding-bottom: 1%;
  margin-bottom: 3rem;
  min-height: 19rem;
}

.navbar-brand {
  max-width: 5rem;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 4rem;
}

.navbar-dark {
  background-image: linear-gradient(to right, #803a94, #ee68de,#b91fa7, #510e5a);
  margin-bottom: 2rem;
  min-height: 6rem;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}